@model IEnumerable<MkvOL.Data.Entities.DashVentaEntity>

@{
    ViewData["Title"] = "Dashboard";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />


<form id="prueba" asp-controller="DashVenta" method="post" class="form-control" role="form">
    <label>Fecha</label>
    <input type="date" id="fecha" name="fechaConsulta" width="276" value=@ViewData["Fecha"] />
    <button type="submit">Aceptar</button>
</form>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">TOTALES</h4>
            </div>
            <div class="panel-body">
                <table id="Totales" class="display compact  table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                TOTALES
                            </th>
                            <th style="text-align:right">
                                Propios y eCommerce
                            </th>
                            <th style="text-align:right">
                                Consignaciones
                            </th>
                            <th style="text-align:right">
                                Total
                            </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Del Dia
                            </td>
                            <td style="text-align:right">
                                @ViewData["TotalPropiosEcom"]
                            </td>
                            <td style="text-align:right">
                                @ViewData["TotalConsignacion"]
                            </td>
                            <td style="text-align:right">
                                @ViewData["TotalDia"]
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Acumulado
                            </td>
                            <td style="text-align:right">
                                @ViewData["AcumPropiosEcom"]
                            </td>
                            <td style="text-align:right">
                                @ViewData["AcumConsignacion"]
                            </td>
                            <td style="text-align:right">
                                @ViewData["TotalAcum"]
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<p></p>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Propios</h4>
            </div>
            <div class="panel-body">
                <table id="Propios" class="display compact  table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Sucursal)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.Pronostico)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.VentaDia)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.Cumplim)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.VentaAnt)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.PronAcum)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.Acumulado)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.CumplimAcum)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.AcumAnt)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.CoSucursal > 100 & item.CoSucursal < 200)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sucursal)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.Pronostico)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(model => item.VentaDia)
                                    </td>
                                    <td style="text-align:right">
                                        % @Html.DisplayFor(model => item.Cumplim)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.VentaAnt)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.PronAcum)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.Acumulado)
                                    </td>
                                    <td style="text-align:right">
                                        % @Html.DisplayFor(model => item.CumplimAcum)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.AcumAnt)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot style="font-weight:bold">
                        <tr>
                            <td>Totales</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["TotalPronPropios"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["TotalDiaPropios"])</td>
                            <td style="text-align:right">% @string.Format("{0:N0}", ViewData["TotalCumplDiaPropios"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["TotalDiaAnioAntPropios"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["PronAcumPropios"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["AcumPropios"])</td>
                            <td style="text-align:right">% @string.Format("{0:N0}", ViewData["CumplAcumPropios"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["TotalAcumAnioAntPropios"])</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<p></p>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">eCommerce</h4>
            </div>
            <div class="panel-body">
                <table id="eCommerce" class="display compact  table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Sucursal)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.Pronostico)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.VentaDia)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.Cumplim)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.VentaAnt)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.PronAcum)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.Acumulado)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.CumplimAcum)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.AcumAnt)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.CoSucursal == 80 | item.CoSucursal == 1080)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sucursal)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.Pronostico)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(model => item.VentaDia)
                                    </td>
                                    <td style="text-align:right">
                                        % @Html.DisplayFor(model => item.Cumplim)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.VentaAnt)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.PronAcum)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.Acumulado)
                                    </td>
                                    <td style="text-align:right">
                                        % @Html.DisplayFor(model => item.CumplimAcum)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.AcumAnt)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot style="font-weight:bold">
                        <tr>
                            <td>Totales</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["TotalPronEcommerce"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["TotalEcommerce"])</td>
                            <td style="text-align:right">% @string.Format("{0:N0}", ViewData["TotalCumplDiaEcommerce"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["TotalDiaAnioAntEcommerce"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["PronAcumEcommerce"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["AcumEcommerce"])</td>
                            <td style="text-align:right">% @string.Format("{0:N0}", ViewData["CumplAcumEcommerce"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["TotalAcumAnioAntEcommerce"])</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<p></p>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Consignaciones</h4>
            </div>
            <div class="panel-body">
                <table id="Consignaciones" class="display compact  table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Sucursal)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.Pronostico)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.VentaDia)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.Cumplim)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.VentaAnt)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.PronAcum)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.Acumulado)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.CumplimAcum)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.AcumAnt)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Consignacion == true)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sucursal)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.Pronostico)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(model => item.VentaDia)
                                    </td>
                                    <td style="text-align:right">
                                        % @Html.DisplayFor(model => item.Cumplim)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.VentaAnt)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.PronAcum)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.Acumulado)
                                    </td>
                                    <td style="text-align:right">
                                        % @Html.DisplayFor(model => item.CumplimAcum)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.AcumAnt)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot style="font-weight:bold">
                        <tr>
                            <td>Totales</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["TotalPronConsignacion"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["TotalConsignacion"])</td>
                            <td style="text-align:right">% @string.Format("{0:N0}", ViewData["TotalCumplDiaConsignacion"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["TotalDiaAnioAntConsignacion"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["PronAcumConsignacion"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["AcumConsignacion"])</td>
                            <td style="text-align:right">% @string.Format("{0:N0}", ViewData["CumplAcumConsignacion"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["TotalAcumAnioAntConsignacion"])</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<p></p>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Franquicias</h4>
            </div>
            <div class="panel-body">
                <table id="Franquicias" class="display compact  table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Sucursal)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.Pronostico)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.VentaDia)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.Cumplim)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.VentaAnt)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.PronAcum)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.Acumulado)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.CumplimAcum)
                            </th>
                            <th style="text-align:right">
                                @Html.DisplayNameFor(model => model.AcumAnt)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Consignacion == false & item.Franquicia == true)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sucursal)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.Pronostico)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(model => item.VentaDia)
                                    </td>
                                    <td style="text-align:right">
                                        % @Html.DisplayFor(model => item.Cumplim)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.VentaAnt)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.PronAcum)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.Acumulado)
                                    </td>
                                    <td style="text-align:right">
                                        % @Html.DisplayFor(model => item.CumplimAcum)
                                    </td>
                                    <td style="text-align:right">
                                        @Html.DisplayFor(modelItem => item.AcumAnt)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot style="font-weight:bold">
                        <tr>
                            <td>Totales</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["TotalPronFranquicias"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["TotalFranquicias"])</td>
                            <td style="text-align:right">% @string.Format("{0:N0}", ViewData["TotalCumplDiaFranquicias"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["TotalDiaAnioAntFranquicias"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["PronAcumFranquicias"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["AcumFranquicias"])</td>
                            <td style="text-align:right">% @string.Format("{0:N0}", ViewData["CumplAcumFranquicias"])</td>
                            <td style="text-align:right">@string.Format("{0:C0}", ViewData["TotalAcumAnioAntFranquicias"])</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#Propios').DataTable(
                {
                    'rowCallback': function (row, data, index) {
                        if (data[3] < 0) {
                            $('td:eq(3)', row).css('baclground-color', 'red');
                        }

                    },
                    "paging": false,
                    "searching": false,
                    "bInfo": false
                }

            );
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Totales').DataTable(
                {
                    "paging": false,
                    "searching": false,
                    "bInfo": false
                }
            );
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#eCommerce').DataTable(
                {
                    "paging": false,
                    "searching": false,
                    "bInfo": false
                }
            );
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Consignaciones').DataTable(
                {
                    "paging": false,
                    "searching": false,
                    "bInfo": false
                }
            );
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Franquicias').DataTable(
                {
                    "paging": false,
                    "searching": false,
                    "bInfo": false
                }
            );
        });
    </script>
}
