@model IEnumerable<MkvOL.Data.Entities.EstadAnualSucursalEntity>

@{
    ViewData["Title"] = "Dashboard";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css" />
@*<link rel="stylesheet" type="text/css" href="~/css/datatable.css" />*@


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">@ViewData["Sucursal"] </h4>
            </div>
            <div class="panel-body">
                <table id="Sucursal" class="display compact  table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th rowspan="2" colspan="2">MES</th>
                            <th colspan="3" style="text-align:center">Importes</th>
                            <th colspan="3" style="text-align:center">Articulos</th>
                            <th colspan="2" style="text-align:center">Tickets</th>
                            <th colspan="2" style="text-align:center">TK Promedio</th>
                            <th colspan="2" style="text-align:center">Art x Tickets</th>
                        </tr>
                        <tr>
                            <th style="text-align:center">@ViewData["AnioAnt"] </th>
                            <th style="text-align:center">@ViewData["Anio"]</th>
                            <th style="text-align:center">Var</th>
                            <th style="text-align:center">@ViewData["AnioAnt"] </th>
                            <th style="text-align:center">@ViewData["Anio"]</th>
                            <th style="text-align:center">Var</th>
                            <th style="text-align:center">@ViewData["Anio"]</th>
                            <th style="text-align:center">Var</th>
                            <th style="text-align:center">@ViewData["Anio"]</th>
                            <th style="text-align:center">Var</th>
                            <th style="text-align:center">@ViewData["Anio"]</th>
                            <th style="text-align:center">Var</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align:left">
                                    @Html.DisplayFor(modelItem => item.MesNumero)
                                </td>
                                <td style="text-align:left">
                                    @Html.DisplayFor(modelItem => item.Mes)
                                </td>
                                <td style="text-align:right">
                                    <a asp-action="DetalleDiario" target="_blank" asp-route-Id="@ViewData["CoSucursal"]" asp-route-Anio="@ViewData["AnioAnt"]" asp-route-Mes=@item.MesNumero asp-route-MesTexto=@item.Mes asp-route-Sucursal="@ViewData["Sucursal"]">@Html.DisplayFor(modelItem => item.ImporteAnt)</a>
                                </td>
                                <td style="text-align:right">
                                    <a asp-action="DetalleDiario" target="_blank" asp-route-Id="@ViewData["CoSucursal"]" asp-route-Anio="@ViewData["Anio"]" asp-route-Mes=@item.MesNumero asp-route-MesTexto=@item.Mes asp-route-Sucursal="@ViewData["Sucursal"]">
                                        @Html.DisplayFor(modelItem => item.Importe)
                                    </a>
                                </td>
                                <td style="text-align:right">
                                    % @Html.DisplayFor(modelItem => item.VarImp)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.ArticAnt)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.Articulos)
                                </td>
                                <td style="text-align:right">
                                    % @Html.DisplayFor(modelItem => item.VarArtic)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.Tickets)
                                </td>
                                <td style="text-align:right">
                                    % @Html.DisplayFor(modelItem => item.VarTickets)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.TkProm)
                                </td>
                                <td style="text-align:right">
                                    % @Html.DisplayFor(modelItem => item.VarTkProm)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.AxT)
                                </td>
                                <td style="text-align:right">
                                    % @Html.DisplayFor(modelItem => item.VarAxT)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot style="font-weight:bold">
                    <td></td>
                    <td>Totales</td>
                    <td style="text-align:right">@string.Format("{0:C0}", ViewData["TotalImporteAnt"])</td>
                    <td style="text-align:right">@string.Format("{0:C0}", ViewData["totalImporte"])</td>
                    <td style="text-align:right">% @string.Format("{0:N0}", ViewData["VarImporte"])</td>
                    <td style="text-align:right">@string.Format("{0:N0}", ViewData["TotalArticAnt"])</td>
                    <td style="text-align:right">@string.Format("{0:N0}", ViewData["TotalArticulos"])</td>
                    <td style="text-align:right">% @string.Format("{0:N0}", ViewData["VarArtic"])</td>
                    <td style="text-align:right">@string.Format("{0:N0}", ViewData["TotalTk"])</td>
                    <td style="text-align:right">% @string.Format("{0:N0}", ViewData["VarTickets"])</td>
                    <td style="text-align:right">@string.Format("{0:N0}", ViewData["TkProm"])</td>
                    <td style="text-align:right">% @string.Format("{0:N0}", ViewData["VarTkProm"])</td>
                    <td style="text-align:right">@string.Format("{0:N2}", ViewData["ArtxTk"])</td>
                    <td style="text-align:right">% @string.Format("{0:N0}", ViewData["VarAxT"])</td>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<p></p>
<div>
    <a asp-action="VentaAnual" asp-route-Anio="@ViewData["Anio"]" asp-route-AnioAnt="@ViewData["AnioAnt"]"class="btn btn-success">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#Sucursal').DataTable(
                {
                    dom: 'Bfrtip',
                    buttons: [
                        'copyHtml5',
                        'excelHtml5',
                        'csvHtml5'
                    ],
                    "paging": false,
                    "searching": false,
                    "bInfo": false
                }
            );
        });
    </script>
}
