@model IEnumerable<MkvOL.Data.Entities.SectoresEntity>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/DataTables/DataTables-1.10.20/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />


<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i>Create New</a>
</p>
<div class="row">
    <div class="col-md-12">
        <div class="panel navbar-expand-md">
            <div class="panel-heading">
                <h3 class="panel-title">Sectores</h3>
            </div>
            <div class="panel-body">
                <table class="table table-hover table-striped" id="MyTable">

                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Sector)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sector)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-warning"><i class="fas fa-pen"></i></a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="fas fa-align-justify"></i></a>|
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/DataTables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
    @*<script src="~/DataTables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>*@
    <script src="~/fontawesome/js/all.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
    </script>
}
